@mixin font ($font-size, $line-height, $color, $font-family, $font-style) {
  font-family: $font-family;
  font-size: $font-size;
  line-height: $line-height;
  color: $color;
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@mixin font-oswald ($font-size, $line-height, $color, $font-family, $font-style) {
  font-family: $font-second;
  font-size: $font-size;
  line-height: $line-height;
  color: $color-text;
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@mixin list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

@mixin link {
  list-style-type: none;
  color:#000000;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  text-decoration: none;
}

