/* здесь используйте глобальные переменные */

$font-family: "Lato", "Arial", sans-serif;
$font-style: normal;
$font-weight: 400;
$color: #444444;

$font-second: "Oswald", "Arial", sans-serif;
$color-text:#000000;

