.adress-wrapper {
  background-color: #f2f2f2;
}

@media (min-width: $tablet-width) {
  .adress-wrapper {
    background-color: #ffffff;
  }
}

@media (min-width: $desktop-width) {
  .adress-wrapper {
    display: grid;
    grid-template-columns: auto 565px 655px auto;
    grid-template-rows: 96px auto 110px;
    background-color: #f2f2f2;
  }
}
