.adress__inner {
  padding: 26px 20px;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  background-color: #f2f2f2;
}

.adress__partnership {
  @include font (14px, 20px, $color-text, $font-second);
  text-transform: uppercase;
  width: 50%;
  word-break: break-word;
}

.adress__text {
  @include font (14px, 20px, $color, $font-prime);
  width: 50%;
  text-align: end;
}

@media (min-width: $tablet-width) {
  .adress__inner {
    padding: 60px 70px;
    justify-content: space-between;
  }

  .adress__partnership {
    width: 25%;
    font-size: 20px;
    line-height: 26px;
    margin: 0;
  }

  .adress__text {
    width: 25%;
    margin: 0;
    text-align: right;
    display: flex;
    flex-direction: column;
    gap: 19px;
    font-size: 16px;
  }
}

@media (min-width: $desktop-width) {
  .adress__inner {
    padding: 60px 80px;
    width: 565px;
    background-color: #ffffff;
    top: 95px;
    left: 110px;
    z-index: 2;
    grid-column: 2/2;
    grid-row: 3/2;
  }

  .adress__image {
    grid-column: 1/-1;
  }

  .adress__partnership {
    width: 45%;
  }

  .adress__text {
    width: 158px;
    justify-content: flex-start;
  }
}
