.adress__inner {
  padding: 28px 20px;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  background-color: #ffffff;
}

.adress__inner--catalog {
  background-color: #f2f2f2;
}

.adress__partnership {
  @include font (16px, 20px, $color-text, $font-second);
  text-transform: uppercase;
  width: 50%;
  word-break: break-word;
  margin: 0;
}

.adress__text {
  @include font (14px, 20px, $color, $font-prime);
  width: 50%;
  text-align: start;
  margin: 0;
}


.adress__online {
  width: 100%;
  border: none;
}

.adress__online iframe {
  width: 100%;
  height: 362px;
}

.adress__online--map {
  width: 100%;
  display: block;
}

@media (min-width: $tablet-width) {
  .adress__inner {
    padding: 65px 65px 60px 70px;
    justify-content: space-between;
    background-color: #ffffff;
  }

  .adress__inner--catalog {
    padding-top: 60px;
    background-color: #f2f2f2;
  }

  .adress__partnership {
    width: 25%;
    font-size: 20px;
    line-height: 26px;
    margin: 0;
  }

  .adress__text {
    width: 25%;
    margin: 0;
    text-align: right;
    display: flex;
    flex-direction: column;
    gap: 19px;
    font-size: 16px;
  }

  .adress__online {
    width: 100%;
    border: none;
    height: 400px;
  }

  .adress__online iframe {
    height: 400px;
  }
}

@media (min-width: $desktop-width) {
  .adress__inner {
    padding: 62px 80px;
    width: 565px;
    background-color: #ffffff;
    top: 95px;
    left: 110px;
    z-index: 2;
    grid-column: 2/2;
    grid-row: 3/2;
  }

  .adress__image {
    grid-column: 1/-1;
  }

  .adress__partnership {
    width: 45%;
  }

  .adress__text {
    width: 158px;
    justify-content: flex-start;
    text-align: start;
    gap: 16px;
  }

  .adress__location {
    width: 100%;
    display: block;
  }

  .adress__online {
    width: 100%;
    border: none;
  }

  .adress__online iframe {
    height: 400px;
  }
}
