.button {
  @include font (16px, 20px, #ffffff, $font-second);
  text-transform: uppercase;
  text-decoration: none;
  border: none;
  background-color: $basic-color;
  display: block;
  text-align: center;
  cursor: pointer;
  padding: 10px;
  width: 280px;

  &:hover {
    background-color: #5eaa2f;
  }

  &:focus {
    background-color: #5eaa2f;
  }

  &:active {
    background-color: #5eaa2f;
    color: rgba(255, 255, 255, 0.3);
  }
}

@media (min-width: $tablet-width) {
  .button {
    font-size: 20px;
    line-height: 26px;
  }
}
