.card__title {
  @include font (16px, 20px, $color-text, $font-second);
  text-transform: uppercase;
}

.card__link {
  text-decoration: none;
}

.card__order {
  margin: 0 auto;
  padding: 10px 109px;
}

.card__order--show {
  margin: 0 auto;
  background-color: #f2f2f2;
  color: #444444;
  padding: 10px 95px;
}
