.card-list {
  @include list;
  display: grid;
}

@media (min-width: $tablet-width) {
  .card-list__item {
    width: 324px;
  }
}

@media (min-width: $desktop-width) {
  .card-list__item {
    width: 245px;
  }
}
