.catalog__title {
  @include font (36px, 36px, $color-text, $font-second);
  margin: 0;
  padding: 27px 20px 41px;
  border-top: #ebebeb solid 1px;
  border-bottom: #ebebeb solid 1px;
}


@media (min-width: $tablet-width) {
  .catalog__title {
    padding: 0 30px 93px;
    border: none;
    font-size: 60px;
    line-height: 60px;
  }

  .catalog__desktop {
    display: flex;
    flex-wrap: wrap;
    gap: 68px 60px;
    padding: 0;
    margin-left: 30px;

}

@media (min-width: $desktop-width) {
  .catalog__title {
    padding-left: 0;
    padding-top: 60px;
    padding-bottom: 93px;
  }

  .catalog__desktop {
    gap: 70px 80px;
    padding: 0;
    margin: 0 auto;
    width: 1220px;
  }


  .catalog {
    width: 1220px;
    margin: 0 auto;
 