.header__wrapper {
  align-items: center;
}

.header__nav {
  border-top: 1px solid #f2f2f2;
}


@media (max-width: $mobile-width-only) {
  .header__toggle {
    position: absolute;
    top: 30px;
    right: 21px;
    cursor: pointer;
    background-color: #ffffff;
    background-image: url("../../icons/stack.svg#burger");
    background-repeat: no-repeat;
    border: none;
    width: 18px;
    height: 18px;
    display: none;

    &:hover {
      opacity: 0.6;
    }

    &:focus {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.4;
    }
  }
}

@media (min-width: $tablet-width) {
  .header__wrapper {
    padding: 25px 30px 50px;
    gap: 30px;
    display: flex;
  }

  .header__toggle {
    display: none;
  }

  .header__nav {
    border: none;
  }
}

@media (min-width: $desktop-width) {
  .header__wrapper {
    padding: 45px 0 0;
    position: relative;
    width: 1220px;
    margin: 0 auto;
    justify-content: space-between;
  }
}
