.header__wrapper {
  display: flex;
  flex-wrap: wrap;
  padding: 14px 20px;
  align-items: center;
}

@media (max-width: $mobile-width-only) {
  .header__toggle {
    position: absolute;
    top: 22px;
    right: 21px;
    cursor: pointer;
    background-color: #ffffff;
    background-image: url("../../icons/stack.svg#burger");
    background-repeat: no-repeat;
    background-size: 24px 24px;
    border: none;
    width: 24px;
    height: 24px;

    &:hover {
      opacity: 0.6;
    }

    &:focus {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.4;
    }
  }
}

@media (min-width: $tablet-width) {
  .header__wrapper {
    padding: 25px 34px 65px 30px;
    justify-content: space-between;
  }

  .header__toggle {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .header__wrapper {
    padding: 55px 110px 29px;
    position: relative;
  }
}
