.hero {
  text-align: center;
  background-image:
    linear-gradient($bg-color 302px, #ffffff 302px),
    image-set(url("../../images/index-background-mobile@1x.jpg") type("image/jpg") 1x,
    url("../../images/index-background-mobile@2x.jpg") type("image/jpg") 2x);
  background-repeat: no-repeat;
  background-size: cover, auto 302px;
  background-position: 50% 0, 50% 0;
  background-color: linear-gradient($bg-color 302px, #ffffff 302px);
}

.hero__title {
  @include font (36px, 36px, #ffffff, $font-second);
  color: #ffffff;
  margin: 0;
  padding: 26px 0;
  text-align: center;
}

.hero__text {
  @include font (14px, 14px, #ffffff, $font-second);
  text-transform: uppercase;
  color: #ffffff;
}

.hero-button {
  margin: 0 20px;
  padding: 10px 63px;
}

.hero__image {
  padding: 29px 20px 3px;
}
