.hero {
  background-image:
    linear-gradient(to top, #ffffff 175px, $bg-color 175px,),
    image-set(url("../../images/index-background-mobile@1x.jpg") type("image/jpg") 1x,
    url("../../images/index-background-mobile@2x.jpg") type("image/jpg") 2x),
    linear-gradient(to bottom, rgba(78, 78, 83), rgba(67, 66, 71) 50%);
  background-repeat: no-repeat;
  background-size: cover, auto 302px;
  background-position: 50% 0, 50% 0;
  text-align: center;
  background-color: $bg-color;
}

.hero__button {
  margin: 0 auto;
}

.hero__prodict-image {
  padding-bottom: 5px;
  padding-top: 7px;
}


@media (min-width: $tablet-width) {
  .hero {
    background-image: none;
    text-align: left;
    position: relative;
    background-color: #ffffff;
    height: 860px;
  }

  .hero__prodict-image {
    padding-top: 0;
    padding-bottom: 0;
  }
}

.hero__title {
  @include font (36px, 36px, #ffffff, $font-second);
  color: #ffffff;
  margin: 0;
  padding: 29px 20px 25px;
}

@media (min-width: $tablet-width) {
  .hero__title {
    color: #000000;
    font-size: 60px;
    line-height: 60px;
    padding: 0 0 40px 120px;
  }
}

.hero__text {
  @include font (14px, 14px, #ffffff, $font-second);
  text-transform: uppercase;
  color: #ffffff;
  display: block;
  margin-bottom: 20px;
}

.hero__image {
  display: block;
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .hero__text {
    color: #000000;
    padding: 0 30px 0 120px;
    font-size: 20px;
    line-height: 20px;
  }
}

@media (min-width: $tablet-width) {
  .hero__button {
    max-width: 244px;
    content: "";
    transform: translate(120px, -585px);
    padding: 14px 26px;
    margin: 5px 0 0;
  }
}

@media (min-width: $desktop-width) {
  .hero {
    display: grid;
    grid-template-columns: 447px 552px auto;
    grid-template-rows: auto auto 1fr;
    align-items: start;
    background-color: transparent;
    padding-top: 65px;
    height: 650px;
  }

  .hero__title {
    padding: 30px 10px 40px 80px;
    width: 40vw;
    grid-column: 1/-3;
    grid-row: 1/2;
  }

  .hero__text {
    padding: 0 10px 52px 80px;
    margin: 0;
    grid-column: 1/2;
  }

  .hero__button {
    grid-column: 1;
    transform: none;
    margin: 0 0 0 80px;
    padding: 14px;
  }

  .hero__prodict-image {
    grid-column: 2/3;
    grid-row: 1/4;
    margin-top: -55px;
    margin-left: 0;
  }
}
