.logo {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 56px;
  text-decoration: none;
  cursor: pointer;
  padding: 10px 20px 12px;

  &:hover {
    opacity: 0.6;
  }

  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.4;
  }
}

@media (min-width: $tablet-width) {
  .logo {
    gap: 13px;
    align-self: flex-start;
    padding: 15px 0 10px;

    &:hover {
      opacity: 0.6;
    }

    &:focus {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.4;
    }
  }
}

@media (min-width: $desktop-width) {
  .logo {
    padding-left: 0;
    padding-top: 10px;
  }

  .logo__text {
    width: 118px;
    height: 21px;
  }

  .logo__text--footer {
    width: 128px;
    height: 24px;
  }
}
