.logo {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 56px;
  text-decoration: none;
}

@media (min-width: $tablet-width) {
  .logo {
    gap: 13px;
  }
}

@media (min-width: $desktop-width) {
  .logo__text {
    width: 128px;
    height: 24px;
  }
}
