.nav__list {
  @include list;
  display: flex;
  flex-flow: column;
  flex-wrap: wrap;
  align-items: center;
  min-width: 280px;
}

@media (min-width: $tablet-width) {
  .nav__list {
    display: flex;
    flex-flow: wrap;
    flex-direction: row;
    justify-content: flex-end;
  }
}

.nav__item {
  padding-top: 20px;
  padding-bottom: 24px;
}


.nav__link {
  @include link;
  padding: 0;
}

@media (min-width: $tablet-width) {
  .nav__link {
    padding-left: 33px;
  }
}
