.nav__list {
  @include list;
  flex-flow: column;
  flex-wrap: wrap;
  align-items: center;
  min-width: 280px;
  display: none;
}

@media (max-width: $mobile-width-only) {
  .nav__item {
    padding-top: 20px;
    padding-bottom: 24px;
  }

  .nav__link {
    @include link;
    padding: 0;
    cursor: pointer;

    &:hover {
      color: #3e3e3e;
    }

    &:focus {
      color: #3e3e3e;
    }

    &:active {
      color: #6b6b6b;
    }
  }
}

/* @media (max-width: $mobile-width-only) {
  .nav--closed {
    display: none;
  }
} */

@media (min-width: $tablet-width) {
  .nav__list {
    display: flex;
    flex-flow: wrap;
    flex-direction: row;
    justify-content: flex-end;
  }

  .nav__link {
    padding-left: 33px;
    list-style-type: none;
    text-decoration: none;

    @include font (18px, 24px, $color-text, $font-second);
    text-transform: uppercase;

    &:hover {
      opacity: 0.4;
    }

    &:focus {
      opacity: 0.4;
    }

    &:active {
      opacity: 0.2;
    }
  }
}

@media (min-width: $desktop-width) {
  .nav__list {
    width: 50vw;
  }

  .nav__link {
    color: #ffffff;
    line-height: 30px;
    font-size: 20px;
  }
}
