.program {
  min-width: 80px;
  position: relative;

  &::before {
    content: "";
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: $basic-color;
    display: block;
    position: absolute;
    top: 24px;
    left: 20px;
  }
}

.program__title {
  @include font (24px, 37px, $color-text, $font-second);
  text-transform: uppercase;
  margin: 0;
  padding: 30px 0 29px 90px;
}

.program--slim {
  &::after {
    content: "";
    display: block;
    background-image: url("../../icons/stack.svg#icon-cat-sitting");
    background-repeat: no-repeat;
    background-size: 50px 53px;
    background-position: left;
    width: 50px;
    height: 53px;
    position: absolute;
    top: 21px;
    left: 23px;
  }
}

.program--pro {
  &::after {
    content: "";
    display: block;
    background-image: url("../../icons/stack.svg#cat-pro");
    background-repeat: no-repeat;
    background-size: 67px 28px;
    background-position: left;
    width: 67px;
    height: 28px;
    position: absolute;
    top: 35px;
    left: 13px;
  }
}

.program__text {
  margin: 0;

  @include font (14px, 18px, $color, $font-prime);
  padding: 0 33px 38px 20px;
}

.program__catalog {
  @include font (16px, 16px, $color-text, $font-second);
  text-transform: uppercase;
  text-decoration: none;
  padding: 15px 126px 18px 20px;
}

@media (min-width: $tablet-width) {
  .program {
    min-height: 372px;
    padding: 0 280px 0 53px;

    &::before {
      content: "";
      width: 200px;
      height: 200px;
      border-radius: 50%;
      background-color: $basic-color;
      display: block;
      position: absolute;
      top: 81px;
      right: 63px;
      left: auto;
    }
  }

  .program__title {
    font-size: 36px;
    line-height: 36px;
    padding: 77px 0 24px;
  }

  .program__text {
    font-size: 16px;
    line-height: 24px;
    padding-left: 0;
  }

  .program--slim {
    &::after {
      content: "";
      display: block;
      background-image: url("../../icons/stack.svg#icon-cat-sitting");
      background-repeat: no-repeat;
      background-size: 140px 194px;
      background-position: right;
      width: 140px;
      height: 194px;
      position: absolute;
      top: 81px;
      right: 93px;
      left: auto;
    }
  }

  .program--pro {
    &::after {
      content: "";
      display: block;
      background-image: url("../../icons/stack.svg#cat-pro");
      background-repeat: no-repeat;
      background-size: 268px 200px;
      width: 268px;
      height: 200px;
      position: absolute;
      top: 91px;
      right: 29px;
      left: auto;
    }
  }

  .program__catalog {
    padding: 10px 0  0;
    font-size: 20px;
    line-height: 30px;
  }
}

@media (min-width: $desktop-width) {
  .program {
    padding: 0;
  }

  .program__title {
    padding: 77px 0 73px 214px;
  }

  .program::before {
    width: 100px;
    height: 100px;
    top: 47px;
    left: 52px;
  }

  .program--slim::after {
    width: 70px;
    height: 97px;
    background-size: 70px 97px;
    top: 41px;
    left: 67px;
  }

  .program--pro::after {
    width: 134px;
    height: 100px;
    background-size: 134px 100px;
    top: 47px;
    left: 33px;
  }

  .program__text {
    padding: 0 20px 23px 52px;
  }

  .program__catalog {
    padding-left: 52px;
  }
}
