.program__title {
  @include font-oswald (24px, 37px, $color-text, $font-second, $font-style);
text-transform: uppercase;}


.program__text {
  @include font (14px, 18px, $color, $font-family, $font-style);}

.program__catalog {
  @include font-oswald (16px, 16px, $color-text, $font-second, $font-style);
text-transform: uppercase;
text-decoration: none;}
