.result__item {
  text-align: center;
  min-width: 124px;
  min-height: 70px;
  position: relative;
}

.result__key {
  @include font (24px, 24px, $color-text, $font-second);
  text-transform: uppercase;
  padding: 14px 10px 17px;
  border: 2px solid #cdcdcd;
  border-radius: 3px;
}

.result__value {
  @include font (12px, 12px, $color, $font-prime);
  margin: 0 auto;
  padding: 0 12px;
  text-align: center;
  background-color: #f2f2f2;
  max-width: 80px;
  margin-top: -10px;
}

@media (min-width: $tablet-width) {
  .result__item {
    width: 162px;
  }

  .result__key {
    @include font (24px, 24px, $color-text, $font-second);
    text-transform: uppercase;
    padding: 15px 10px 11px;
    border: 2px solid #cdcdcd;
    border-radius: 3px;
    font-size: 30px;
    line-height: 37px;
  }

  .result__value {
    @include font (12px, 12px, $color, $font-prime);
    margin: 0 auto;
    text-align: center;
    max-width: 135px;
    margin-top: -10px;
    font-size: 14px;
    line-height: 14px;
    padding: 0 5px;
    background-color: #ffffff;
  }
}

@media (min-width: $desktop-width) {
  .result__value {
    background-color: #f2f2f2;
  }
}
