.result__item {
  text-align: center;
  min-width: 124px;
  min-height: 70px;
}

.result__key {
  @include font (24px, 24px, $color-text, $font-second);
  text-transform: uppercase;
  padding: 14px 0 7px;
  }

.result__value {
  @include font (12px, 12px, $color, $font-prime);
  margin: 0;
}
