.show-more {
  text-decoration: none;
  position: relative;
  padding-bottom: 25px;
  border-bottom: 1px solid #ebebeb;

  &::before {
    background-image: url("../../icons/stack.svg#plus");
    display: block;
    content: "";
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    position: absolute;
    left: 45%;
    top: 25px;
  }
}

.show-more__item {
  text-decoration: none;
}

.show-more__title {
  @include font (16px, 20px, #111111, $font-second);
  text-transform: uppercase;
  word-break: break-word;
  text-align: center;
  padding: 78px 10px 8px;
  margin: 0;
  text-decoration: none;
}

.show-more__text {
  @include font (12px, 16px, $color, $font-prime);
  text-align: center;
  margin: 0;
  padding: 0 10px 21px;
}

.show-more__button--show {
  background-color: #f2f2f2;
  color: #444444;
  margin: 0 20px;

  &:hover,
  &:focus {
    background-color: #ebebeb;
  }

  &:active {
    background-color: #ebebeb;
    color: #444444;
  }
}

@media (min-width: $tablet-width) {
  .show-more {
    padding-top: 150px;
    font-size: 20px;
    line-height: 24px;
    border: 1px solid #f2f2f2;
    margin-top: 85px;
    width: 324px;
  }

  .show-more__title {
    padding: 0 93px;
    font-size: 20px;
    line-height: 24px;
  }

  .show-more__text {
    padding: 23px 70px 95px;
    font-size: 16px;
    line-height: 18px;
  }

  .show-more__button--show {
    width: 250px;
    margin: 0 37px;
  }

  .show-more::before {
    width: 60px;
    height: 60px;
    top: 50px;
    left: 40%;
  }
}

@media (min-width: $desktop-width) {
  .show-more {
    width: 245px;
  }

  .show-more__title {
    padding: 0 33px;
  }

  .show-more__text {
    padding: 23px 10px 95px;
  }

  .show-more__button--show {
    padding: 10px;
    width: 169px;
  }
}
