.socials {
  display: flex;
  list-style-type: none;
  text-decoration: none;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: center;
  padding: 20px 74px;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
}

.socials__link {
  @include link;
  cursor: pointer;

  &::before {
    min-width: 28px;
    min-height: 22px;
    mask-position: center;
    mask-repeat: no-repeat;
    content: "";
    display: block;
    background-color: #666666;
  }

  &:hover {
    &::before {
      background-color: #5eaa2f;
    }
  }

  &:focus {
    &::before {
      background-color: #5eaa2f;
    }
  }

  &:active {
    &::before {
      background-color: rgba(106, 106, 106, 0.3);
    }
  }
}

.socials__link--vk::before {
  content: "";
  mask-image: url("../../icons/stack.svg#icon-vkontakte");
}

.socials__link--utube::before {
  content: "";
  mask-image: url("../../icons/stack.svg#icon-youtube");
  display: block;
}

.socials__link--telegram::before {
  content: "";
  mask-image: url("../../icons/stack.svg#icon-telegram");
  display: block;
}


@media (min-width: $tablet-width) {
  .socials {
    padding: 0 120px 0 0;
  }
}

@media (min-width: $desktop-width) {
  .socials {
    border: none;
  }
}
