.subscribe {
  padding: 23px 20px 40px;
}

.subscribe__title {
  @include font (24px, 24px, $color-text, $font-second);
  margin: 0;
  padding: 20px 0 32px;
  background-color: #ffffff;
  width: fit-content;
  max-width: 85%;
  position: relative;
  box-shadow: -40px 0 0 #ffffff, 40px 0 0#ffffff;
}

.subscribe__title::before {
  content: "";
  display: block;
  height: 2px;
  width: 100vw;
  background-color: $basic-color;
  position: absolute;
  top: 40%;
  left: -50vw;
  z-index: -1;
  box-shadow: 100vw 0 0 $basic-color;
}

.subscribe__text {
  @include font(16px, 24px,$color-text, $font-second);
  margin: 0;
  padding-bottom: 24px;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .subscribe__title {
    font-size: 32px;
    line-height: 32px;
    padding-bottom: 67px;
    margin-left: 70px;
    padding-top: 20px;

    &::before {
      top: 30%;
    }
  }

  .subscribe__text {
    font-size: 24px;
    line-height: 32px;
    max-width: 632px;
    margin: 0 68px 0 70px;
  }

  .subscribe {
    padding: 20px 0 80px;
  }
}

@media (min-width: $desktop-width) {
  .subscribe {
    padding-bottom: 100px;
    width: 1220px;
    margin: 0 auto;
  }

  .subscribe__title {
    font-size: 40px;
    line-height: 40px;
    margin-left: 0;
    padding-top: 75px;
    padding-bottom: 73px;
  }

  .subscribe__title::before {
    top: 50%;
    margin-bottom: 10px;
  }

  .subscribe__text {
    max-width: none;
    margin: 0 auto;
  }

  .subscribe__form {
    margin: 0 auto;
    width: 752px;
  }
}
